
@{
    ViewData["Title"] = "ProgressBarPage";
}

<div id="progressBarPage">
    <section id="entrance">
        <div class="container">
            <div class="row">
                <div class="desc">
                    <h3>Progress Bar</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="skillsBar">
        <div class="container">
            <div class="row">
                <div class="sidebsBars">
                    <div class="bar1 col-lg-6 col-12">
                        <div class="wrapper">
                            <div class="skillbar" data-percent="82">
                                <span class="skillbar-title">Growing</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- End Skill Bar -->

                            <div class="skillbar" data-percent="69">
                                <span class="skillbar-title">Watering</span>
                                <p class=" skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- End Skill Bar -->

                            <div class="skillbar" data-percent="55">
                                <span class="skillbar-title">Furtilizing</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- End Skill Bar -->
                        </div>
                    </div>
                    <div class="bar2 col-lg-6 col-12">
                        <div class="wrapper">
                            <div class="skillbar" data-percent="82">
                                <span class="skillbar-title">Growing</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- End Skill Bar -->

                            <div class="skillbar" data-percent="69">
                                <span class="skillbar-title">Watering</span>
                                <p class=" skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- End Skill Bar -->

                            <div class="skillbar" data-percent="55">
                                <span class="skillbar-title">Furtilizing</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- End Skill Bar -->
                        </div>
                    </div>
                </div>
                <div class="fullBar">
                    <div class="bar3">
                        <div class="wrapper">
                            <div class="skillbar" data-percent="82">
                                <span class="skillbar-title">Growing</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- End Skill Bar -->

                            <div class="skillbar" data-percent="69">
                                <span class="skillbar-title">Watering</span>
                                <p class=" skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- End Skill Bar -->

                            <div class="skillbar" data-percent="55">
                                <span class="skillbar-title">Furtilizing</span>
                                <p class="skillbar-bar"></p>
                                <span class="skill-bar-percent"></span>
                            </div>
                            <!-- End Skill Bar -->
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>