
@{
    ViewData["Title"] = "AccordionPage";
}

<div id="accordionPage">
    <section id="entrance">
        <div class="container">
            <div class="row">
                <div class="desc">
                    <h3>Accordions</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="accordion">
        <div class="container">
            <div class="row">
                <div class="accordion">
                    <div class="first col-lg-6 col-12">
                        <div class="allRow">
                            <div class="allrowFirst">
                                <div class="heading creativeEl active">
                                    <p><span><i class="fas fa-minus"></i></span> CREATIVE ELEMENTS</p>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>

                            <div class="allrowFirst">
                                <div class="heading attention">
                                    <p><span><i class="fas fa-plus"></i></span>ATTENTION TO DETAIL</p>
                                </div>
                                <div class="content" style="display: none;">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>

                            <div class="allrowFirst">
                                <div class="heading EIMPORT">
                                    <p><span><i class="fas fa-plus"></i></span>EASY IMPORT</p>
                                </div>
                                <div class="content" style="display: none;">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="second col-lg-6 col-12">
                        <div class="allRow">
                            <div class="allrowSecond">
                                <div class="heading creativeEl active">
                                    <p><span><i class="fas fa-minus"></i></span>CREATIVE ELEMENTS</p>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>


                            <div class="allrowSecond">
                                <div class="heading attention">
                                    <p><span><i class="fas fa-plus"></i></span>ATTENTION TO DETAIL</p>
                                </div>
                                <div class="content" style="display: none;">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>


                            <div class="allrowSecond">
                                <div class="heading EIMPORT">
                                    <p><span><i class="fas fa-plus"></i></span>EASY IMPORT</p>
                                </div>
                                <div class="content" style="display: none;">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="accordionSec">
                    <div class="first col-lg-6 col-12">
                        <div class="allRow">
                            <div class="allrowThird">
                                <div class="heading creativeEl active">
                                    <p><span><i class="fas fa-minus"></i></span>CREATIVE ELEMENTS</p>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>


                            <div class="allrowThird">
                                <div class="heading attention">
                                    <p><span><i class="fas fa-plus"></i></span>CREATIVE ELEMENTS</p>
                                </div>
                                <div class="content" style="display: none;">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>


                            <div class="allrowThird">
                                <div class="heading EIMPORT">
                                    <p><span><i class="fas fa-plus"></i></span>CREATIVE ELEMENTS</p>
                                </div>
                                <div class="content" style="display: none;">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="second col-lg-6">
                        <div class="allRow">
                            <div class="allrowFourth">
                                <div class="heading creativeEl active">
                                    <p><span><i class="fas fa-minus"></i></span>EASY IMPORT</p>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>

                            </div>

                            <div class="allrowFourth">
                                <div class="heading attention">
                                    <p><span><i class="fas fa-plus"></i></span>EASY IMPORT</p>
                                </div>
                                <div class="content" style="display: none;">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>


                            <div class="allrowFourth">
                                <div class="heading EIMPORT">
                                    <p><span><i class="fas fa-plus"></i></span>EASY IMPORT</p>
                                </div>
                                <div class="content" style="display: none;">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                    eget
                                    dolor.
                                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
                                    nascetur
                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                                    sem.
                                    Nulla
                                    consequat massa quis.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>