
@{
    ViewData["Title"] = "TabsPage";
}
<div id="tabsPage">
    <section id="entrance">
        <div class="container">
            <div class="row">
                <div class="desc">
                    <h3>Tabs</h3>
                </div>
            </div>
        </div>
    </section>
    <section id="tabs">
        <div class="container">
            <div class="row">
                <div class="sbsTabs">
                    <div class="tab1 col-lg-6">
                        <div class="container">
                            <div class="row">
                                <div class="categories">
                                    <ul>
                                        <div class="category active2" id="services">
                                        <li>SERVİCES</li>
                                </div>
                                <div class="category" id="shop">
                                    <li>SHOP</li>
                                </div>
                                <div class="category" id="product">
                                    <li>PRODUCT</li>
                                </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container ">
                        <div class="row">
                            <div class="content">
                                <div class="all services">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                        ligula eget
                                        dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                        parturient
                                        montes,
                                        nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                                        eu,
                                        pretium
                                        quis,
                                        sem. Nulla consequat massa. Aenean imperdiet. Etiam ultricies nisi vel
                                        augue.
                                        Curabitur
                                        ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                                    </p>
                                </div>
                                <div class="all shop">
                                    <p>
                                        Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                                        Phasellus
                                        viverra
                                        nulla
                                        ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
                                        ultricies
                                        nisi vel
                                        augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                                        rhoncus.
                                        Maecenas
                                        tempus, tellus eget condimentum rhoncus. Curabitur ullamcorper ultricies
                                        nisi. Nam
                                        eget
                                        dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                                        In
                                        enim
                                        justo,
                                        rhoncus ut.
                                    </p>
                                </div>
                                <div class="all product">
                                    <p>
                                        Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                                        ultricies
                                        nisi.
                                        Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                                        rhoncus, sem
                                        quam
                                        semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                                        blandit vel,
                                        luctus pulvinar. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                        porttitor eu,
                                        consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                        viverra
                                        quis,
                                        feugiat a.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab2 col-lg-6">
                    <div class="container">
                        <div class="row">
                            <div class="categories">
                                <ul>
                                    <div class="category active2" id="services">
                                    <li>SERVİCES</li>
                            </div>
                            <div class="category" id="shop">
                                <li>SHOP</li>
                            </div>
                            <div class="category" id="product">
                                <li>PRODUCT</li>
                            </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container ">
                    <div class="row">
                        <div class="content">
                            <div class="all services">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                    ligula eget
                                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                                    parturient
                                    montes,
                                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                                    eu,
                                    pretium
                                    quis,
                                    sem. Nulla consequat massa. Aenean imperdiet. Etiam ultricies nisi vel
                                    augue.
                                    Curabitur
                                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                                </p>
                            </div>
                            <div class="all shop">
                                <p>
                                    Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
                                    Phasellus
                                    viverra
                                    nulla
                                    ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam
                                    ultricies
                                    nisi vel
                                    augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                                    rhoncus.
                                    Maecenas
                                    tempus, tellus eget condimentum rhoncus. Curabitur ullamcorper ultricies
                                    nisi. Nam
                                    eget
                                    dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                                    In
                                    enim
                                    justo,
                                    rhoncus ut.
                                </p>
                            </div>
                            <div class="all product">
                                <p>
                                    Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                                    ultricies
                                    nisi.
                                    Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                                    rhoncus, sem
                                    quam
                                    semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                                    blandit vel,
                                    luctus pulvinar. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                    porttitor eu,
                                    consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                                    viverra
                                    quis,
                                    feugiat a.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tab3 -->
        <div class="tab3">
            <div class="row">
                <div class="categories">
                    <ul>
                        <div class="category active2" id="services">
                        <li>SERVICES</li>
                </div>
                <div class="category" id="shop">
                    <li>SHOP</li>
                </div>
                <div class="category" id="product">
                    <li>PRODUCTS</li>
                </div>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="all services">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula eget
                    dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    montes,
                    nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                    pretium
                    quis,
                    sem. Nulla consequat massa. Aenean imperdiet. Etiam ultricies nisi vel
                    augue.
                    Curabitur
                    ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                </p>
            </div>
            <div class="all shop">
                <p>
                    Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus
                    viverra
                    nulla
                    ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
                    nisi vel
                    augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
                    Maecenas
                    tempus, tellus eget condimentum rhoncus. Curabitur ullamcorper ultricies
                    nisi. Nam
                    eget
                    dui. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
                    enim
                    justo,
                    rhoncus ut.
                </p>
            </div>
            <div class="all product">
                <p>
                    Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
                    ultricies
                    nisi.
                    Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
                    rhoncus, sem
                    quam
                    semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
                    blandit vel,
                    luctus pulvinar. Aenean vulputate eleifend tellus. Aenean leo ligula,
                    porttitor eu,
                    consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
                    quis,
                    feugiat a.
                </p>
            </div>
        </div>
</div>
<!-- tab4 -->
<div class="tab4">
    <div class="container col-lg-2 col-md-2  cat ">
        <div class="row">
            <div class="categories">
                <ul>
                    <div class="category active2" id="services">
                    <li>SERVİCES</li>
            </div>
            <div class="category" id="shop">
                <li>SHOP</li>
            </div>
            <div class="category" id="product">
                <li>PRODUCT</li>
            </div>
            </ul>
        </div>
    </div>
</div>
<div class="container col-lg-10 col-md-10 cont">
    <div class="row">
        <div class="content">
            <div class="all services">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                    parturient
                    montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
                    pellentesque
                    eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
                    fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                    imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                    pretium.
                    Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
                    vulputate
                    eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend
                    ac,
                    enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Class
                    aptent taciti sociosqu ad litora. Aenean imperdiet. Etiam ultricies nisi vel
                    augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                    rhoncus.Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
                    libero
                    venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus
                    tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales
                    sagittis
                    magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                    quis
                    gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus
                    quam, scelerisque ut, mollis sed, nonummy id, metus.
                </p>
            </div>
            <div class="all shop">
                <p>
                    Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit
                    amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
                    pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.
                    Donec
                    vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet
                    orci
                    eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh.
                    Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales,
                    augue
                    velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend
                    sapien. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut
                    libero
                    venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus
                    tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales
                    sagittis
                    magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
                    quis
                    gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus
                    quam, scelerisque ut, mollis sed, nonummy id, metus. Vestibulum purus quam,
                    scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui.
                    Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum
                    primis
                    in. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
                    dapibus.
                </p>
            </div>
            <div class="all product">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                    ligula
                    eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                    parturient
                    montes, nascetur ridiculus mus. Maecenas nec odio et ante tincidunt tempus.
                    Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit
                    amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit
                    amet
                    nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum
                    sodales,
                    augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate
                    eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy
                    id,
                    metus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                    Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet
                    nec,
                    vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
                    vitae,
                    justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
                    dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                    Aenean
                    leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
                    ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla
                    ut
                    metus varius. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                    eu,
                    consequat vitae, eleifend ac, enim.
                </p>
            </div>
        </div>
    </div>
</div>
                    </div>
                </div>
            </div>
        </section>
    </div>